<ons-card><ons-toolbar>
  <div class="center">Your Financial Manager</div>
</ons-toolbar>
<div class="background"></div>

<div class="content">
  <ons-row>
    <ons-col>
      <ons-card (click)="openCalculators()"><ons-icon icon="fa-calculator"></ons-icon></ons-card>
    </ons-col>
    <ons-col>
      <ons-card><ons-icon icon="fa-calculator"></ons-icon></ons-card>
    </ons-col>
    <ons-col>
      <ons-card><ons-icon icon="fa-calculator"></ons-icon></ons-card>
    </ons-col>
  </ons-row>
</div></ons-card>