<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">All in One Calculators</div>
</ons-toolbar>
<div class="background"></div>

<div class="content">
  <ons-card><ons-row>
    <ons-col>
      <ons-card (click)="openFinanceCalculator()">Finance Calculator</ons-card>
    </ons-col>
    <ons-col>
      <ons-card><ons-icon icon="fa-calculator"></ons-icon></ons-card>
    </ons-col>
    <ons-col>
      <ons-card><ons-icon icon="fa-calculator"></ons-icon></ons-card>
    </ons-col>
  </ons-row></ons-card>
</div>