<ons-toolbar>
  <div class="center">
    <ons-segment #segment id="segment" (click)="tabber.setActiveTab(segment.getActiveButtonIndex())" style="width: 280px; margin-top: 8px;">
      <button>Health</button>
      <button>Wealth</button>
      <button>Spiritual</button>
    </ons-segment>
  </div>
</ons-toolbar>
<ons-tabbar #tabber swipable="true" position="top" tab-border="true" hide-tabs="true">
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <ons-tab label="Health" [page]="tab1" active></ons-tab>
    <ons-tab label="Wealth" [page]="tab2"></ons-tab>
    <ons-tab label="Spirituality" [page]="tab3"></ons-tab>
  </div>
</ons-tabbar>